:root {
    --primary-color: #654321; /* Deep Brown */
    --accent-color: #FFBF00; /* Amber */
    --background-color: #ECE6DE; /* Earthy Tones */
    --highlight-color: #9C3326; /* Rich Reds */
    --text-color: #333333; /* Dark Charcoal */
    --navbar-background-color: #654321; /* Deep Brown */
    --navbar-text-color: #FFFFFF; /* White */
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.navbar {
    background-color: var(--navbar-background-color);
    padding: 0 0 0.3rem 0;
}

.navbar a{
    color: var(--navbar-text-color);
}

/*.dropdown-menu{*/
/*    color: black;*/
/*}*/

.row {
    margin-top: 80px;
    margin-bottom: 100px;
}

.item_img-container{
    background-color: white;
    border-radius: 10px 10px 0  0;
}

.col{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.container img{
    max-width: 100%;
}

.simple_text {
    display: block;
}

.item_info {
    background-color: #84c76a;
    color: rgb(51, 51, 51);
    font-weight: bold;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 0 0 10px 10px;
}

.nav-link{
    font-weight: bold;
}

.p-3 {
    border-radius: 10px;
    background-color: #513232;
    padding: 20px;
    display: inline-block;


}

