{% extends 'Base.html' %}


{% block content %}

    <div class="container text-center">

        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

            <div class="col" >
                  <div class="p-3" href="/about">
                          <div class="item_img-container">
                                <img style="object-fit: cover"
                                 src="https://img.thewhiskyexchange.com/480/brbon_wes1.jpg"
                                 width="" height="240" class="d-inline-block align-text-top">
                          </div>

                          <div class="item_info"  style="width: 214.39px;">

                              <lu class="simple_text" href="/login">luka</lu>
                              <lu class="simple_text" href="/login">gio</lu>
                              <lu class="simple_text" href="/login">sandro</lu>
                              <lu class="simple_text" href="/login">andro</lu>

                          </div>
                  </div>
            </div>

            <div class="col">
                  <div class="p-3" href="/about">
                          <div class="item_img-container">
                                <img style="object-fit: cover"
                                 src="https://img.thewhiskyexchange.com/480/brbon_wes1.jpg"
                                 width="" height="240" class="d-inline-block align-text-top">
                          </div>

                          <div class="item_info"  style="width: 214.39px;">

                              <lu class="simple_text" href="/login">luka</lu>
                              <lu class="simple_text" href="/login">gio</lu>
                              <lu class="simple_text" href="/login">sandro</lu>
                              <lu class="simple_text" href="/login">andro</lu>

                          </div>
                  </div>
            </div>

            <div class="col" >
                  <div class="p-3" href="/about">
                          <div class="item_img-container">
                                <img style="object-fit: cover"
                                 src="https://img.thewhiskyexchange.com/480/brbon_wes1.jpg"
                                 width="" height="240" class="d-inline-block align-text-top">
                          </div>

                          <div class="item_info"  style="width: 214.39px;">

                              <lu class="simple_text" href="/login">luka</lu>
                              <lu class="simple_text" href="/login">gio</lu>
                              <lu class="simple_text" href="/login">sandro</lu>
                              <lu class="simple_text" href="/login">andro</lu>

                          </div>
                  </div>
            </div>

            <div class="col">
                  <div class="p-3" href="/about">
                          <div class="item_img-container">
                                <img style="object-fit: cover"
                                 src="https://img.thewhiskyexchange.com/480/brbon_wes1.jpg"
                                 width="" height="240" class="d-inline-block align-text-top">
                          </div>

                          <div class="item_info"  style="width: 214.39px;">

                              <lu class="simple_text" href="/login">luka</lu>
                              <lu class="simple_text" href="/login">gio</lu>
                              <lu class="simple_text" href="/login">sandro</lu>
                              <lu class="simple_text" href="/login">andro</lu>

                          </div>
                  </div>
            </div>

            <div class="col" >
                  <div class="p-3" href="/about">
                          <div class="item_img-container">
                                <img style="object-fit: cover"
                                 src="https://img.thewhiskyexchange.com/480/brbon_wes1.jpg"
                                 width="" height="240" class="d-inline-block align-text-top">
                          </div>

                          <div class="item_info"  style="width: 214.39px;">

                              <lu class="simple_text" href="/login">luka</lu>
                              <lu class="simple_text" href="/login">gio</lu>
                              <lu class="simple_text" href="/login">sandro</lu>
                              <lu class="simple_text" href="/login">andro</lu>

                          </div>
                  </div>
            </div>

            <div class="col">
                  <div class="p-3" href="/about">
                          <div class="item_img-container">
                                <img style="object-fit: cover"
                                 src="https://img.thewhiskyexchange.com/480/brbon_wes1.jpg"
                                 width="" height="240" class="d-inline-block align-text-top">
                          </div>

                          <div class="item_info"  style="width: 214.39px;">

                              <lu class="simple_text" href="/login">luka</lu>
                              <lu class="simple_text" href="/login">gio</lu>
                              <lu class="simple_text" href="/login">sandro</lu>
                              <lu class="simple_text" href="/login">andro</lu>

                          </div>
                  </div>
            </div>

            <div class="col" >
                  <div class="p-3" href="/about">
                          <div class="item_img-container">
                                <img style="object-fit: cover"
                                 src="https://img.thewhiskyexchange.com/480/brbon_wes1.jpg"
                                 width="" height="240" class="d-inline-block align-text-top">
                          </div>

                          <div class="item_info"  style="width: 214.39px;">

                              <lu class="simple_text" href="/login">luka</lu>
                              <lu class="simple_text" href="/login">gio</lu>
                              <lu class="simple_text" href="/login">sandro</lu>
                              <lu class="simple_text" href="/login">andro</lu>

                          </div>
                  </div>
            </div>

            <div class="col">
                  <div class="p-3" href="/about">
                          <div class="item_img-container">
                                <img style="object-fit: cover"
                                 src="https://img.thewhiskyexchange.com/480/brbon_wes1.jpg"
                                 width="" height="240" class="d-inline-block align-text-top">
                          </div>

                          <div class="item_info"  style="width: 214.39px;">

                              <lu class="simple_text" href="/login">luka</lu>
                              <lu class="simple_text" href="/login">gio</lu>
                              <lu class="simple_text" href="/login">sandro</lu>
                              <lu class="simple_text" href="/login">andro</lu>

                          </div>
                  </div>
            </div>

            <div class="col" >
                  <div class="p-3" href="/about">
                          <div class="item_img-container">
                                <img style="object-fit: cover"
                                 src="https://img.thewhiskyexchange.com/480/brbon_wes1.jpg"
                                 width="" height="240" class="d-inline-block align-text-top">
                          </div>

                          <div class="item_info"  style="width: 214.39px;">

                              <lu class="simple_text" href="/login">luka</lu>
                              <lu class="simple_text" href="/login">gio</lu>
                              <lu class="simple_text" href="/login">sandro</lu>
                              <lu class="simple_text" href="/login">andro</lu>

                          </div>
                  </div>
            </div>

            <div class="col">
                  <div class="p-3" href="/about">
                          <div class="item_img-container">
                                <img style="object-fit: cover"
                                 src="https://img.thewhiskyexchange.com/480/brbon_wes1.jpg"
                                 width="" height="240" class="d-inline-block align-text-top">
                          </div>

                          <div class="item_info"  style="width: 214.39px;">

                              <lu class="simple_text" href="/login">luka</lu>
                              <lu class="simple_text" href="/login">gio</lu>
                              <lu class="simple_text" href="/login">sandro</lu>
                              <lu class="simple_text" href="/login">andro</lu>

                          </div>
                  </div>
            </div>

            <div class="col" >
                  <div class="p-3" href="/about">
                          <div class="item_img-container">
                                <img style="object-fit: cover"
                                 src="https://img.thewhiskyexchange.com/480/brbon_wes1.jpg"
                                 width="" height="240" class="d-inline-block align-text-top">
                          </div>

                          <div class="item_info"  style="width: 214.39px;">

                              <lu class="simple_text" href="/login">luka</lu>
                              <lu class="simple_text" href="/login">gio</lu>
                              <lu class="simple_text" href="/login">sandro</lu>
                              <lu class="simple_text" href="/login">andro</lu>

                          </div>
                  </div>
            </div>

            <div class="col">
                  <div class="p-3" href="/about">
                          <div class="item_img-container">
                                <img style="object-fit: cover"
                                 src="https://img.thewhiskyexchange.com/480/brbon_wes1.jpg"
                                 width="" height="240" class="d-inline-block align-text-top">
                          </div>

                          <div class="item_info"  style="width: 214.39px;">

                              <lu class="simple_text" href="/login">luka</lu>
                              <lu class="simple_text" href="/login">gio</lu>
                              <lu class="simple_text" href="/login">sandro</lu>
                              <lu class="simple_text" href="/login">andro</lu>

                          </div>
                  </div>
            </div>

            <div class="col" >
                  <div class="p-3" href="/about">
                          <div class="item_img-container">
                                <img style="object-fit: cover"
                                 src="https://img.thewhiskyexchange.com/480/brbon_wes1.jpg"
                                 width="" height="240" class="d-inline-block align-text-top">
                          </div>

                          <div class="item_info"  style="width: 214.39px;">

                              <lu class="simple_text" href="/login">luka</lu>
                              <lu class="simple_text" href="/login">gio</lu>
                              <lu class="simple_text" href="/login">sandro</lu>
                              <lu class="simple_text" href="/login">andro</lu>

                          </div>
                  </div>
            </div>

            <div class="col">
                  <div class="p-3" href="/about">
                          <div class="item_img-container">
                                <img style="object-fit: cover"
                                 src="https://img.thewhiskyexchange.com/480/brbon_wes1.jpg"
                                 width="" height="240" class="d-inline-block align-text-top">
                          </div>

                          <div class="item_info"  style="width: 214.39px;">

                              <lu class="simple_text" href="/login">luka</lu>
                              <lu class="simple_text" href="/login">gio</lu>
                              <lu class="simple_text" href="/login">sandro</lu>
                              <lu class="simple_text" href="/login">andro</lu>

                          </div>
                  </div>
            </div>

            <div class="col" >
                  <div class="p-3" href="/about">
                          <div class="item_img-container">
                                <img style="object-fit: cover"
                                 src="https://img.thewhiskyexchange.com/480/brbon_wes1.jpg"
                                 width="" height="240" class="d-inline-block align-text-top">
                          </div>

                          <div class="item_info"  style="width: 214.39px;">

                              <lu class="simple_text" href="/login">luka</lu>
                              <lu class="simple_text" href="/login">gio</lu>
                              <lu class="simple_text" href="/login">sandro</lu>
                              <lu class="simple_text" href="/login">andro</lu>

                          </div>
                  </div>
            </div>

            <div class="col">
                  <div class="p-3" href="/about">
                          <div class="item_img-container">
                                <img style="object-fit: cover"
                                 src="https://img.thewhiskyexchange.com/480/brbon_wes1.jpg"
                                 width="" height="240" class="d-inline-block align-text-top">
                          </div>

                          <div class="item_info"  style="width: 214.39px;">

                              <lu class="simple_text" href="/login">luka</lu>
                              <lu class="simple_text" href="/login">gio</lu>
                              <lu class="simple_text" href="/login">sandro</lu>
                              <lu class="simple_text" href="/login">andro</lu>

                          </div>
                  </div>
            </div>

            <div class="col" >
                  <div class="p-3" href="/about">
                          <div class="item_img-container">
                                <img style="object-fit: cover"
                                 src="https://img.thewhiskyexchange.com/480/brbon_wes1.jpg"
                                 width="" height="240" class="d-inline-block align-text-top">
                          </div>

                          <div class="item_info"  style="width: 214.39px;">

                              <lu class="simple_text" href="/login">luka</lu>
                              <lu class="simple_text" href="/login">gio</lu>
                              <lu class="simple_text" href="/login">sandro</lu>
                              <lu class="simple_text" href="/login">andro</lu>

                          </div>
                  </div>
            </div>

            <div class="col">
                  <div class="p-3" href="/about">
                          <div class="item_img-container">
                                <img style="object-fit: cover"
                                 src="https://img.thewhiskyexchange.com/480/brbon_wes1.jpg"
                                 width="" height="240" class="d-inline-block align-text-top">
                          </div>

                          <div class="item_info"  style="width: 214.39px;">

                              <lu class="simple_text" href="/login">luka</lu>
                              <lu class="simple_text" href="/login">gio</lu>
                              <lu class="simple_text" href="/login">sandro</lu>
                              <lu class="simple_text" href="/login">andro</lu>

                          </div>
                  </div>
            </div>

            <div class="col" >
                  <div class="p-3" href="/about">
                          <div class="item_img-container">
                                <img style="object-fit: cover"
                                 src="https://img.thewhiskyexchange.com/480/brbon_wes1.jpg"
                                 width="" height="240" class="d-inline-block align-text-top">
                          </div>

                          <div class="item_info"  style="width: 214.39px;">

                              <lu class="simple_text" href="/login">luka</lu>
                              <lu class="simple_text" href="/login">gio</lu>
                              <lu class="simple_text" href="/login">sandro</lu>
                              <lu class="simple_text" href="/login">andro</lu>

                          </div>
                  </div>
            </div>

            <div class="col">
                  <div class="p-3" href="/about">
                          <div class="item_img-container">
                                <img style="object-fit: cover"
                                 src="https://img.thewhiskyexchange.com/480/brbon_wes1.jpg"
                                 width="" height="240" class="d-inline-block align-text-top">
                          </div>

                          <div class="item_info"  style="width: 214.39px;">

                              <lu class="simple_text" href="/login">luka</lu>
                              <lu class="simple_text" href="/login">gio</lu>
                              <lu class="simple_text" href="/login">sandro</lu>
                              <lu class="simple_text" href="/login">andro</lu>

                          </div>
                  </div>
            </div>





        </div>
    </div>

{% endblock content %}

