{% extends "Base.html" %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 70vh;">
    <form method="post" style="width: 25%">
        <h1 style="text-align: center">Sign up</h1>
        <div class="form-group">
            <input type="text" name="name" class="form-control mt-4 mb-3" placeholder="username">
        </div>
        <div class="form-group">
            <input type="email" name="email" class="form-control mb-3" placeholder="email">
        </div>
        <div class="form-group ">
            <input type="password" name="password" class="form-control mb-3" placeholder="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock content %}