{% extends "Base.html" %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 70vh;">
    <form method="post" style="width: 25%">
        <h1 style="text-align: center">Sign up</h1>
        <div class="form-group">
            <input type="text" name="username" class="form-control mt-4 mb-3" placeholder="Username">
        </div>
        <div class="form-group">
            <input type="email" name="email" class="form-control mb-3" placeholder="Email">
        </div>
        <div class="form-group">
            <input type="number" name="phone" class="form-control mb-3" placeholder="Phone">
        </div>
        <div class="form-group ">
            <input type="password" name="password" class="form-control mb-3" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <div class="form-text">
            Already have an account?
            <a href="/login">Log in</a>
        </div>
        <div class="form-text mb-0">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for msg in messages %}
                        <p style="color: red">{{msg}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </form>
</div>
{% endblock content %}