{% extends 'Base.html' %}

{% block content %}

<form method="post" class="mt-5" >
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <h3 class="mb-5">Change password</h3>

                        <div class="form-outline mb-4">
                            <input type="password" name="current-password" class="form-control form-control-lg mb-5" placeholder="Current password"/>
                        </div>

                        <div class="form-outline mb-4">
                            <input type="password" name="new-password-first" class="form-control form-control-lg mb-5" placeholder="Create new password"/>
                        </div>

                        <div class="form-outline mb-4">
                            <input type="password" name="new-password-second" class="form-control form-control-lg mb-5" placeholder="Confirm new password"/>
                        </div>

                        <div class="form-text mb-0">
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    {% for msg in messages %}
                                        <p style="color: red">{{msg}}</p>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        </div>

                        <button class="btn btn-success btn-lg btn-block" type="submit">Submit</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock content%}
